@font-face {
  font-family: 'lexend deca';
  src:  url('../public/LexendDeca-VariableFont_wght.ttf') format('ttf'),
}
.body{
    background-color: #eff3f7;
    height: 100%;
    width: 100%;
}
.element_svg{
  width: 100vw;
  height: 150px;
  background:url('../public/Group\ 1.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0px;
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logoMain{
  margin-bottom: 50px;
  height: 70px;
}

.searchLogo{
  position: relative;
  height: 20px;
  left: 36px;
}

.form{
  display: flex;
  align-items: center;
  justify-content: center;
}

.input{
    padding: 20px 50px;
    border-radius: 50px;
    border: none;
    font-size: 17px;
    width: 600px;
    height: 45px;
    margin: auto;
}

.input:active{
  border: 0.5px solid rgb(190, 190, 190) ;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eff3f7;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #eff3f7;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* max-width: 400px; */
    margin: auto;
    margin-top: 60px;
}

.card {
  background-color: white;
  margin: 0.5rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eff3f7;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  cursor: pointer;
    width: 170px;
    height: 170px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.heading{
  font-size: 50px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 800;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 40px;
}

.link{
  text-decoration: none;
  color: inherit;
}

.companyImage{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.metrics_name{
    padding: 24px;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 10px;
}

.metrics_value{
    padding: 10px;
    font-size: 17px;
    text-align: center;
    background-color: #eff3f7;
}

.metrics_card{
  cursor: pointer;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.model_box{
  height: 100vh;
  width: 100vw;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 3px;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
@media (max-width: 1240px) {
  .searchLogo{
    display: none;
  }
}
@media (max-width: 700px) {
  .container{
    width: 100%;
  }
  .input{
    width: 100% !important;
  }
  .card{
    max-width: 200px;
    padding: 10px;
  }
  .grid{
    width: 100%;
    flex-direction: row;
  }
  .logoMain{
    height: 70px;
  }
  .model_box{
    padding: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.main_page{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  background-color: white;
  border-radius: 5px;
  margin: 30px;
  height: 600px;
  width: 90%;
}

.minicardName{
  text-align: center;
  font-size: 16px;
}

.positive_value{
  color: #00BFA6;
   background-color: #00bfa61a;
   padding: 20px;
   border-radius: 4px;
   text-align: center;
}
.negative_value{
  color: #F7685B;
  background-color: #f7685b29;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
}
/* 
.block_announcement_positive{
 
}
.block_announcement_negative{
  
} */

.finance_element{
  text-transform: capitalize;
}
.acc_element{
  margin: 10px 0px;
  border-radius: 8px !important;
  box-shadow: none !important;
  border: none;
}
.border_left{
  border-left: 4px solid #1976d2;
}
.para_announcements{
  overflow-y: scroll;
    height: 500px;
}